---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import type { Frontmatter } from "src/types";

const posts = await Astro.glob<Frontmatter>("../contents/new/**/*.md");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(
  ({ frontmatter }) => frontmatter.featured
);
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>PSH</h1>
      <p>
        Strategy can be defined as “The direction an organisation takes with the
        aim of achieving future business success.” Strategy sets out how an
        organisation intends to employ its resources, including the skills and
        knowledge of its people as well as financial and material assets, in
        order to achieve its mission or overall objectives and its vision.
      </p>
      <p>
        Strategy development is the process of researching and identifying
        strategic options, selecting the most promising and deciding how
        resources will be allocated across the organisation to achieve
        objectives.
      </p>
      <p>
        Go to the <LinkButton href="/general">
          General considerations
        </LinkButton> page for more informations on what needs to be achieved.
      </p>
    </section>

    <Hr />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {featuredPosts.map(({ frontmatter }) => (
                <Card
                  href={`/posts/${slugify(frontmatter)}`}
                  post={frontmatter}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          <Hr />
        </>
      )
    }

    <section id="recent-posts">
      <h2>Recent Posts</h2>
      <ul>
        {
          sortedPosts.map(
            ({ frontmatter }, index) =>
              index < 4 && (
                <Card
                  href={`/posts/${slugify(frontmatter)}`}
                  post={frontmatter}
                  secHeading={false}
                />
              )
          )
        }
      </ul>
      <div class="all-posts-btn-wrapper">
        <LinkButton href="/posts">
          All Posts
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
      </div>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pt-8 pb-6;
  }
  #hero h1 {
    @apply inline-block font-bold my-4 sm:my-8 text-3xl sm:text-5xl;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply flex flex-col sm:flex-row sm:items-center mt-4;
  }
  .social-links {
    @apply whitespace-nowrap mr-2 sm:mb-0 mb-1;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pt-12 pb-6;
  }
  #featured h2,
  #recent-posts h2 {
    @apply font-semibold text-2xl tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply text-center my-8;
  }
</style>
